*.ai

# Sublime Text
*.sublime-project
*.sublime-workspace

*.scss
*.js
*.jade
*.slim
data.json

!*.min.*

# Grunt & npm
gruntfile.js
package.json
/node_modules/
debug.log

# directories
/templates/
/assets/css/
/assets/js/
